/* Your responsive CSS styles go here */

@media only screen and (max-width: 500px) {
    body {
      background-color: deepskyblue;
    }
  }
  @media only screen and (min-width: 1000px) {
    body {
      background-color: greenyellow;
    }
    
  @media (min-width: 1001px) and (max-width: 1200px){
    p  {
        color: orange;
           } 
           body {
            background-color: black;
          }       
}
 
  
    
      
  }